<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
    
</head>

<body class="body">
        <div class="AddStore">
            <h1 class="h1">New Store Information</h1>
            <form method="post" th:action="@{/AddStore}" action="#">
                <input class="input" type="text" name="name" placeholder="Store Name" required="required" />
                <input class="input" type="text" name="address" placeholder="Store Address" required="required" />
		        <select class="select" name="type"> 
			        <option value="Online" >Online</option>
  		            <option value="OnSite">OnSite</option>
		        </select>
                <input type="submit" class="myButton" value="Add Store" />
            </form>
        </div>
</body>
</html>
