<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
    
</head>

<body class="body">

	<table class="StoresApprovalTable" border="2">
        <tr>
            <th>StoreOwnerName</th>
            <th>StoreName</th>
            <th>Address</th>
            <th>Location</th>
            <th>Approve</th>
        </tr>
        <tr th:each="store  : ${stores}">
            <td th:text="${store.user.name}">UserName</td>
            <td th:text="${store.Storename}">StoreName</td>
            <td th:text="${store.Address}">Address</td>
            <td th:text="${store.Type}">Type</td>
            <td><input type="checkbox" name="check"/></td>
        </tr>
      </table>

</body>
</html>
