<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body class="body">
     <div class="AddNewBrand">
     <h1 class="h1">Add Brand</h1>
    <form method="post" th:action="@{/AddNewBrand}" th:object="${AddNewBrand}" action="#">
        <input class="input" type="text" th:field="*{name}" placeholder="Name" required="required"/>
        <input class="input" type="text" th:field="*{Category}" placeholder="Category" required="required"/>
        <input class="myButton" type="submit" value="Add Brand"/>
    </form>
    </div>
    </body>

</html>
