<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Add New Statistics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
    
</head>

<body class="body">

	<div class="AddStat">

        <form method="POST" th:action="@{/AddStatistics}">

            <table class="StoresApprovalTable" border="2">
                <tr>
                    <th>Statistics name </th>
                    <th>Approve </th>

                </tr>
                <tr th:each="Statistic  : ${Statistics}">
                    <td th:text="${Statistic.Statname}">UserName</td>
                    
                    <td><input type="checkbox" name="check" th:value="${Statistic.Statname}"/></td>
                </tr>
              </table>
              <br/>
              <input class="myButton" type="submit" value="Submit"/>
    
        </form>
    </div>

</body>
</html>
