<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body class="body">
    <div class="AdminOptions">
        <h1 class="h1">Admin Option</h1>
        <a th:href="AddProductAdmin" ><input class="input" type="submit" name="u" value="Add Product" /> </a>
        <a th:href="AddNewBrand" ><input class="input" type="submit" name="u" value="Add Brand" /> </a>
        <a th:href="StoresApproval" ><input class="input" type="submit" name="u" value="Approve Stores" /> </a>
        <a th:href="AddStatistics" ><input class="input" type="submit" name="u" value="Add Statistics" /> </a>
    </div>
</body>

</html>
