
.myButton {
	background-image: url(btn.jpg);
	background-size: cover;
	border-radius:5px;
	border:none;
	cursor:pointer;
	color:#fff;
	font-size:34px;
	font-weight: bold;
	padding:12px 30px;
	width: 360px;
	margin-left: 20px;
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.6);
	outline: none;
	padding: 10px;
	font-size: 22px;
	font-family: cursive;
}
.myButton:hover {
	opacity: 0.8;
}
.myButton:active {
	position:relative;
	top:1px;
}



.body { 
	background-image:url(/images/wall.jpg);
	height:100%;
	font-family: cursive;
	background-size: cover;
	}

.signup { 
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	top: 40%;
	left: 50%;
	margin: -170px 0 0 -200px;
	width:400px;
	height:420px;
	border-radius: 20px;
}
.login { 
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	top: 50%;
	left: 50%;
	margin: -170px 0 0 -200px;
	width:400px;
	height: fit-content;
	padding-bottom: 7px;
	padding-top: 7px;
	border-radius: 20px;
}

.AdminOptions { 
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	top: 45%;
	left: 50%;
	margin: -170px 0 0 -200px;
	width:380px;
	height:370px;
	border-radius: 20px;
}

.AddProductAdmin { 
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	top: 35%;
	left: 50%;
	margin: -170px 0 0 -200px;
	width:400px;
	height:490px;
	border-radius: 20px;
}

.AddNewBrand { 
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	top: 40%;
	left: 50%;
	margin: -170px 0 0 -200px;
	width:380px;
	height:230px;
	border-radius: 20px;
}

.StoresApproval { 
	margin-left: 27%;
	margin-top: 9%;
	background-color: rgba(0,0,0,0.6);
	width: fit-content;
	height:fit-content;
	padding: 14px;
	border-radius: 20px;
}

/*----------------**************************************************---------------*/

.storeOwnerOptions { 
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	top: 50%;
	left: 50%;
	margin: -170px 0 0 -200px;
	width:400px;
	height:260px;
	border-radius: 25px;
}

.AddProductStoreOwner { 
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	top: 30%;
	left: 50%;
	margin: -170px 0 0 -200px;
	width:450px;
	height:380px;
	border-radius: 25px;
}

.AddStore { 
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	top: 35%;
	left: 50%;
	margin: -170px 0 0 -200px;
	width:400px;
	height:490px;
	border-radius: 20px;
}

.Statistics { 
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	top: 44%;
	left: 44%;
	margin: -100px 0 0 -100px;
	width:380px;
	height:200px;
	border-radius: 20px;
}
.ViewStatistics
{
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	top: 30%;
	left: 44%;
	margin: -100px 0 0 -100px;
	width:380px;
	height:350px;
	border-radius: 20px;
}

.CustomerHomePage { 
	background-color: rgba(0,0,0,0.6);
	width: fit-content;
	height:fit-content;
	margin: 40px auto 0;
	padding: 16px;
	border-radius: 20px;
}

.ExploreStore { 
	background-color: rgba(0,0,0,0.6);
	width: fit-content;
	height:fit-content;
	margin: 40px auto 0;
	padding: 16px;
	border-radius: 20px;
}

.ProductDetails { 
	background-color: rgba(0,0,0,0.6);
	width: fit-content;
	height:fit-content;
	margin: 40px auto 0;
	padding: 18px;
	border-radius: 20px;
}

.ProductDetails .title { 
	font-size: 22px;
	font-family: cursive;
	color:lightskyblue;
}

.ProductDetails .info { 
	margin-left: 20px;
	font-size: 18px;
	font-family: cursive;
	color:whitesmoke;
}

.MakeOrder { 
	background-color: rgba(0,0,0,0.6);
	width: 400px;
	height:fit-content;
	margin: 120px auto 0; 
	padding: 22px;
	border-radius: 20px;
}

.ConfirmOrder { 
	background-color: rgba(0,0,0,0.6);
	width: 400px;
	height:fit-content;
	margin: 120px auto 0;
	padding: 18px;
	border-radius: 20px;
}

.ConfirmOrder .title { 
	font-size: 23px;
	font-family: cursive;
	color:lightskyblue;
}

.ConfirmOrder .info { 
	margin-left: 10px;
	font-size: 18px;
	font-family: cursive;
	color:whitesmoke;
}

.ConfirmOrder a {
	text-decoration: none;
	margin-left: 165px;
	color:crimson;
	font-size:25px;
}

   
h2
 {
	font: 400 45px/1.5 Helvetica, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	color: #fff;
	text-align:center;
 }
   
.StoresView 
 {
	list-style-type: none;
	margin: 0;
	padding: 0;
 }

 .ProductsView 
 {
	list-style-type: none;
	margin: 0;
	padding: 0;
 }    
  
   
  li input
  {
	font-size: 25px;
	background-color: snow;
	color: #000;
	display: block;
	width: 200px;
	border: none;
	border-bottom: 2px solid cornflowerblue;
	
	-webkit-transition: font-size 0.5s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.5s ease, background-color 0.3s ease;
	-o-transition: font-size 0.5s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.5s ease, background-color 0.3s ease;
	transition: font-size 0.5s ease, background-color 0.3s ease;
  }

  li:last-child {border: none;}
   
  li input:hover 
  {
	font-size: 32px;
	background: #f6f6f6;
  }


.h1 {color: #fff; text-align:center; margin: 10px;}

.input { 
	width: 340px; 
	margin-left: 20px;
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.6);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 22px;
	font-family: cursive;
	border-radius: 3px;
	color: #fff;
}

.LogInError { 
	
	align-self: center;
	margin-left: 30px;
	padding: 7px;
	font-size: 14px;
	font-family: cursive;
	color:red;
}
.select { 
	width: 360px; 
	margin-left: 20px;
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.6);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 22px;
	font-family: cursive;
	border-radius: 5px;
	color: #fff;
}
.a { 
	font-size: 16px;
	color: #fff;
	margin-left: 20px;
}
.a:hover { 
	font-size: 17px;
}



table, th, td {
    border: 1px solid sienna;
	border-collapse: collapse;
	text-decoration-color: wheat;
}
th, td {
    padding: 15px;
}
th {
    background-color: brown;
    color: white;
}
td{background-color: snow;}
tr:hover {background-color: lightskyblue;}


.h11 {color: #fff; text-align:left; margin: 10px;}
.p { 
	font-size: 16px;
	color: #fff;
	margin-left: 20px;
}



.Stores { 
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	top: 50%;
	left: 50%;
	padding: 15px;
	margin: -170px 0 0 -200px;
	width:400px;
	height:250px;
	border-radius: 20px;
}

