<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body class="body">
    <div class="CustomerHomePage">

        <form method="GET" th:action="@{/ExploreStore}" >

            <h2>Stores</h2>
            <ul class="StoresView" th:each="store  : ${stores}" >
                <li>
                        
                    <input type="hidden" name="StoreId" th:value="${store.Storename}" />
                    <input type="submit" name="btn" th:value="${store.Storename}" />
                            
                </li>
            </ul>

        </form>
    </div>
</body>

</html>
