<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Store Products</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body class="body">
    <div class="ExploreStore">
        <h1 class="h1">Products</h1>
        <ul class="StoresView" th:each="product  : ${products}" >
            <li> 
                <a th:href="ExploreStore">
                    <input type="hidden" name="StoreId" th:value="${product}" />
                    <p th:text="${product}">store</p>
                </a>
            </li>
        </ul>
    </div>
</body>

</html>

