<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Details</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body class="body">
    <div class="ProductDetails">

        <form method="GET" th:action="@{/OrderDetails}" >
        
            <h2>Product Information</h2>

            <p class="title"><strong>Store:</strong></p>
            <p class="info" th:text="${store}"></p>

            <p class="title"><strong>Product:</strong></p>
            <p class="info" th:text="${product}"></p>

            <p class="title"><strong>Brand:</strong></p>
            <p class="info" th:text="${brand}"></p>

            <p class="title"><strong>Quantity:</strong></p>
            <p class="info" th:text="${quantity}"></p>

            <p class="title"><strong>Price:</strong></p>
            <p class="info" th:text="${price}"></p>

            <input class="myButton" type="submit"  value="Buy" />
        
        </form>
    </div>
</body>

</html>

