<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link> 
</head>

<body class="body">
	<div class="storeOwnerOptions">
		<h1 class="h1">Home Page</h1>
		<a th:href="AddStore" ><input class="input" name="s" type="submit" value="Add Store"/></a>
		<a th:href="ViewStores" ><input class="input" name="s" type="submit" value="View Stores"/></a>
		<a th:href="SystemStatistics" ><input class="input" name="s" type="submit" value="System Statistics"/></a>
	</div>
</body>

</html>
