<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Stores</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
    
</head>

<body class="body">
    <div class="Stores">
        <form method="get" action="#" th:action="@{/StoreHomePage}" th:object="${StoreHomePage}" >
            <h1 class="h1">Choose Store</h1>
        <select class="select" name="StoreName">
            <option th:each="store  : ${stores}">
             <p class="p" th:text="${store.Storename}"></p>
            </option>
        </select> 
        <br></br>
            <input type="submit" class="myButton" value="View"/>
        </form>
    </div>
</body>
</html>
