<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Confirm Order</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body class="body">

    <div class="ConfirmOrder">

            <form method="POST" th:action="@{/ConfirmOrder}" >
        
                <h2>Order Details</h2>
    
                <p>
                    <strong class="title" >Product: </strong> <span class="info" th:text="${product}" ></span>
                </p>

                <p>
                    <strong class="title">Store:</strong> <span class="info" th:text="${store}" ></span>
                </p>

                <p>
                    <strong class="title">Quantity:</strong> <span class="info" th:text="${quantity}" ></span>
                </p>

                <p>
                    <strong class="title">Total Price:</strong><span class="info" th:text="${price}" ></span>
                </p>

                <input type="hidden" name="productName" th:value="${product}" />
                <input type="hidden" name="storeName" th:value="${store}" />
                <input type="hidden" name="quantity" th:value="${quantity}" />

    
                <input class="myButton" type="submit"  value="Confirm order" />
                <a th:href="CustomerHomePage">Cancel</a>
            
            </form>
    

    </div>
</body>

</html>

