<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Stores</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
    
</head>

<body class="body">
    <div class="AdminOptions">
        
        <h1 class="h1">Store Option</h1>
        
        <a th:href="ViewStoreProducts" >
            <input class="input" type="submit" name="u" value="View Products" />
        </a>

        <a th:href="ViewStatistics" >
                <input class="input" type="submit" name="u" value="View Statistics" />
        </a> 
        
        <a th:href="AddProductInStore" >
            <input class="input" type="submit" name="u" value="Add New Product" />
        </a>
		 
    </div>
</body>
</html>
