<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SystemStatistics</title>
    <meta http-equiv="refresh" content="30; http://localhost:8080/ViewStatistics" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
    
</head>

<body class="body">
  
    <div class="Statistics">
		<h1 class="h1">Statistics</h1>
		<a th:href="UserStatistics" ><input class="input" name="s" type="submit" value="User Statistics"/></a>
		<a th:href="ProductStatistics" ><input class="input" name="s" type="submit" value="Product Statistics"/></a>
    </div>

</body>
</html>